<h1>Specifications</h1>
<table style="border-style: solid; border-width: 1px" border="1">
    <tr>
        <td>
            <div style="padding: 0 2em 0 1em">Material</div>
        </td>
        <td>
            <div style="padding: 0 2em 0 1em">Aluminum 6061</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="padding: 0 2em 0 1em">Length</div>
        </td>
        <td>
            <div style="padding: 0 2em 0 1em">15mm</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="padding: 0 2em 0 1em">Outside Diameter</div>
        </td>
        <td>
            <div style="padding: 0 2em 0 1em">8mm</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="padding: 0 2em 0 1em">Minimum inside Diameter</div>
        </td>
        <td>
            <div style="padding: 0 2em 0 1em">1.5mm</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="padding: 0 2em 0 1em">Maximum inside Diameter</div>
        </td>
        <td>
            <div style="padding: 0 2em 0 1em">5mm</div>
        </td>
    </tr>
    <tr>
        <td>
            <div style="padding: 0 2em 0 1em">Weight</div>
        </td>
        <td>
            <div style="padding: 0 2em 0 1em">2g</div>
        </td>
    </tr>
</table>
